<form action= "/recipes/new" method= "post">
<p>Name:<input id = "name" name = "name" type = "text"></p>
<p>Ingredients:<input id = "ingredients" name = "ingredients" type = "text"></p>
<p>Cook Time:<input id = "cook_time" name = "cook_time" type = "text">
<input id = "content" name = "content" type = "text"></p>
<p><input id = "submit" type = "submit" value = "submit"></p>
</form>